.top {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.container-l {
    width: 575px;
    padding: 83px;
    border: double;
    left: 20px;
    position: absolute;
    top: 191px;
}